<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
            "@type": "Person",
            "name": "Florian Müller",
            "url": "https://www.flomue.com/",
            "image": "https://www.flomue.com/assets/img/florian_profile_square.jpg",
            "sameAs": [
                "https://www.linkedin.com/in/florian-mueller-hci",
                "https://github.com/flomuedev",
                "https://orcid.org/0000-0002-9621-6214",
                "https://scholar.google.com/citations?user=slfzfQIAAAAJ",
                "https://www.en.um.informatik.uni-muenchen.de/people/employees/mueller_florian/index.html",
                "https://dblp.uni-trier.de/pid/m/FlorianMueller-3.html",
                "https://www.researchgate.net/profile/Florian-Mueller-52",
                "https://www.semanticscholar.org/author/Florian-M%C3%BCller/144769044"

            ],
            "jobTitle": "Postdoctoral Researcher",
            "worksFor": {
                "@type": "Organization",
                "name": "LMU Munich"
            }  
        }
    }
</script>