<div class="video_wrapper" style="background-image: url('https://i.ytimg.com/vi/kdEB9L4OCgk/hqdefault.jpg');">
    <div class="video_trigger" data-source="{{ include.id }}">
        <p class="text-center">Playing this video requires sharing information with YouTube. Your decision will be saved in a cookie.<br><a target="_blank" href="https://tosdr.org/#youtube">More information</a></p>
        <input type="button" class="video-btn" value="Agree" />
    </div>
    <div class="video_layer"><iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>